.dataResult {
  margin-top: 5px;
  width: 300px;
  height: auto;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 15px;
  overflow: hidden;
  overflow-y: auto;
  border-radius: 10px;
  position: absolute;


}

.dataResult::-webkit-scrollbar {
  display: none;
}
.resultrow:hover {
  background-color: #F6F8FA
}
