@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --theme-green: #1dad91;
  --theme-black: #2a2a2a;
  --theme-blue: #3383f9;
  --theme-grey: #869199;
  --theme-grey-background: #8b8d8f;
  --theme-red: #df6d45;
  --theme-light-grey: #f6f8fa;
  --theme-yellow: #fdca4b;
  --theme-white: #ffffff;
}

body {
  background-color: #f6f8fa;
  margin: 0;
  color: var(--theme-black);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Input style */
.input-container {
  position: relative;
  display: flex;
  flex-direction: column;
}

.input-container:focus-within label {
  transform: translate(0, 12px) scale(0.8);
  color: var(--theme-blue);
}

.input-container .filled {
  transform: translate(0, 12px) scale(0.8);
}

.input-container label {
  position: absolute;
  pointer-events: none;
  transform: translate(0, 23px) scale(1);
  transform-origin: top left;
  transition: 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  color: var(--theme-grey);
  font-size: 16px;
  line-height: 1;
  left: 16px;
}

.input-container input {
  height: 64px;
  border-radius: 4px;
  border: none;
  padding: 24px 16px 4px 16px;
  font-size: 16px;
  line-height: 1;
  outline: none;
  box-shadow: none;
  transition: 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
}

.input-container input:focus {
  box-shadow: 0 0 0 2px var(--theme-blue);
}

button:focus-visible {
  outline: none;
}

@keyframes tick {
  to {
    transform: rotate(359deg);
  }
}
.loader {
  position: relative;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  border: 2px;
  border: 2px solid var(--theme-green);
}

.loader::after {
  content: "";
  position: absolute;
  bottom: 29px;
  left: 30px;
  display: block;
  transform-origin: 0% 100%;
  width: 1px;
  height: 24px;
  background: var(--theme-green);
  animation: tick 1s infinite linear;
}

ul[role="tablist"] > li:focus-visible {
  outline: none;
}

div.task-list-wrapper::-webkit-scrollbar {
  background-color: var(--theme-light-grey);
  width: 16px;
}

div.task-list-wrapper::-webkit-scrollbar-track {
  background-color: var(--theme-light-grey);
}

div.task-list-wrapper::-webkit-scrollbar-track:hover {
  background-color: var(--theme-light-grey);
}

div.task-list-wrapper::-webkit-scrollbar-thumb {
  background-color: var(--theme-grey);
  border-radius: 16px;
  border: 5px solid var(--theme-light-grey);
}

div.task-list-wrapper::-webkit-scrollbar-thumb:hover {
  background-color: var(--theme-grey);
  border: 4px solid var(--theme-light-grey);
}

div.task-list-wrapper::-webkit-scrollbar-button {
  display: none;
}
